<div id="map"></div>
<mat-card>
  
  <agm-map id="gmail" [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
    <!-- <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      *ngIf="locationChosen"></agm-marker> -->
      <agm-marker  [animation]="'DROP'"
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label">
      <agm-info-window class="info-window" >
      <div style='float:left'>
       
        <img class="info-img" src="http://localhost:3000/images/giordano's-1580351102212.jpg"></div>
        <div style='float:right; padding: 10px;'>
          <b> <strong> {{m.name}} </strong></b>
          <br/>{{m.cuisine}}<br/> 
          {{m.about}}
          <a href="/res">See the Menu!</a>
        </div>

    </agm-info-window>
  </agm-marker>
  </agm-map>
</mat-card >

<div class="container">
    
    <!-- <button mat-raised-button color="primary" (click)="loadMyChildComponent();">New Restaurant</button> -->
<div class="bla">  
  <div class="card" *ngFor="let restaurant of restaurants">  
    <mat-card class="example-card">
      
      <mat-card-header>
        <mat-card-title>{{restaurant.name}}</mat-card-title>
        <mat-card-subtitle>{{restaurant.cuisine}}</mat-card-subtitle>
      </mat-card-header>
      
      <img mat-card-image src="{{restaurant.imagePath}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{restaurant.about}}
        </p>
      </mat-card-content>
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span>123 Reviews</span>
      <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button color="accent" [routerLink]="['/reviews/'+restaurant._id]">REVIEW</button>
        
      <mat-action-row *ngIf="userId === restaurant.userId">
        <button mat-raised-button color="primary" [routerLink]="['/edit/'+restaurant._id]">Edit</button>
      </mat-action-row>
      <mat-action-row *ngIf="userId === restaurant.userId">
        <button  mat-raised-button color="warn" (click)="deleteRestaurant(restaurant._id)" >Delete</button>
      </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  
 <!-- <app-addrestaurant *ngIf="showAddNew"></app-addrestaurant> -->
  