<mat-card>
<form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
  <p>{{errorMsg}}</p>
    <mat-form-field>
        <input matInput placeholder="First Name" name="fname" id="fname" ngModel required  #fname="ngModel" >
        <mat-error *ngIf="fname.invalid">Pls enter valid First name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" name="lname" id="lname" ngModel required  #lname="ngModel" >
        <mat-error *ngIf="lname.invalid">Pls enter valid Last name</mat-error>
      </mat-form-field>
    <mat-form-field>
        <input matInput type="email" placeholder="E-mail" name="email" id="email" ngModel required email  #email="ngModel" >
        <mat-error *ngIf="email.invalid">Pls enter valid name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" id="password" ngModel required  #password="ngModel">
        <mat-error *ngIf="password.invalid">Pls enter valid password</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Signup</button>
</form>
</mat-card>
   
    
